/* text */

.__list-style-type-none {
    list-style-type: none;
}

.__text-decor-none {
    text-decoration: none;
}

.__uppercase {
    text-transform: uppercase;
}

/* font-style */

.__font-family-Lato {
    font-family: 'Lato', sans-serif;
}

/* color */

.__gray-color-bcg {
    background-color: #222125;
}

.__color-gray {
    color: #8d81ac;
}
.__color-gray
#8e82ad

/* other */

.__display-none {
    display: none;
}

