.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 43px;
    height: 41px;
}

.logo-name {
    margin-left: 17px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu-element {
    
    margin-left: 48px;
}

.header-menu-href {
    
    display: block;
    padding: 35px 11px;
}